<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Ibexa Personalization tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <extensions>
        <extension class="EzSystems\EzRecommendationClient\PHPUnit\BypassFinalHook"/>
    </extensions>
</phpunit>
