services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EzSystems\EzRecommendationClient\Factory\:
        resource: '../../../../src/lib/Factory/*'

    EzSystems\EzRecommendationClient\Factory\ExportParametersFactory:

    EzSystems\EzRecommendationClient\Factory\ExportParametersFactoryInterface:
        '@EzSystems\EzRecommendationClient\Factory\ConfigurableExportParametersFactory'

    EzSystems\EzRecommendationClient\Factory\ConfigurableExportParametersFactory:
        arguments:
            $innerService: '@EzSystems\EzRecommendationClient\Factory\ExportParametersFactory'
            $credentialsResolver: '@EzSystems\EzRecommendationClient\Config\ExportCredentialsResolver'
